[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CCSRfind"]
	path = CCSRfind
	url = https://github.com/cran/CCSRfind
[submodule "glorenz"]
	path = glorenz
	url = https://github.com/cran/glorenz
[submodule "miebl"]
	path = miebl
	url = https://github.com/cran/miebl
